Source: lazylpsolverlibs
Priority: extra
Maintainer: Christophe-Marie Duquesne <chmd@chmd.fr>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libglib2.0-dev
Standards-Version: 3.9.3
Section: libs
Homepage: http://code.google.com/p/lazylpsolverlibs/
Vcs-Git: git://github.com/chmduquesne/lazylpsolverlibs-debian.git
Vcs-Browser: https://github.com/chmduquesne/lazylpsolverlibs-debian

Package: lazylpsolverlibs-dev
Section: libdevel
Architecture: any
Depends: liblazycplex-dev (= ${binary:Version}),
         liblazygurobi-dev (= ${binary:Version}),
         liblazyxprs-dev (= ${binary:Version}),
         liblazycplex-bin (= ${binary:Version}),
         liblazygurobi-bin (= ${binary:Version}),
         liblazyxprs-bin (= ${binary:Version}),
         ${misc:Depends}
Description: libraries that proxy function calls to commercial lp solvers
 lazylpsolverlibs offers libraries that can be used as a replacement to
 commercial lp solvers. It has been designed to make coin-osi easier to build
 with support for these solvers, but can be useful in other context.
 .
 This is a meta-package, containing the whole set of lazylpsolverlibs. You can
 of course choose to install them separately.

Package: liblazycplex-dev
Section: libdevel
Architecture: any
Depends: liblazycplex0 (= ${binary:Version}), ${misc:Depends}
Description: libraries that proxy function calls to commercial lp solvers
 lazylpsolverlibs offers libraries that can be used as a replacement to
 commercial lp solvers. It has been designed to make coin-osi easier to build
 with support for these solvers, but can be useful in other context.
 .
 This package contains the lazycplex part of lazylpsolverlibs -- library and
 headers

Package: liblazycplex-bin
Section: libdevel
Architecture: any
Depends: liblazycplex0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: libraries that proxy function calls to commercial lp solvers
 lazylpsolverlibs offers libraries that can be used as a replacement to
 commercial lp solvers. It has been designed to make coin-osi easier to build
 with support for these solvers, but can be useful in other context.
 .
 This package contains the lazycplex part of lazylpsolverlibs -- binary tester

Package: liblazycplex0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libraries that proxy function calls to commercial lp solvers
 lazylpsolverlibs offers libraries that can be used as a replacement to
 commercial lp solvers. It has been designed to make coin-osi easier to build
 with support for these solvers, but can be useful in other context.
 .
 This package contains the lazycplex part of lazylpsolverlibs -- library only

Package: liblazycplex0-dbg
Section: debug
Architecture: any
Depends: liblazycplex0 (= ${binary:Version}), ${misc:Depends}
Description: libraries that proxy function calls to commercial lp solvers
 lazylpsolverlibs offers libraries that can be used as a replacement to
 commercial lp solvers. It has been designed to make coin-osi easier to build
 with support for these solvers, but can be useful in other context.
 .
 This package contains the lazycplex part of lazylpsolverlibs -- debugging
 symbols for the library

Package: liblazygurobi-dev
Section: libdevel
Architecture: any
Depends: liblazygurobi0 (= ${binary:Version}), ${misc:Depends}
Description: libraries that proxy function calls to commercial lp solvers
 lazylpsolverlibs offers libraries that can be used as a replacement to
 commercial lp solvers. It has been designed to make coin-osi easier to build
 with support for these solvers, but can be useful in other context.
 .
 This package contains the lazygurobi part of lazylpsolverlibs -- library and
 headers

Package: liblazygurobi-bin
Section: devel
Architecture: any
Depends: liblazygurobi0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: libraries that proxy function calls to commercial lp solvers
 lazylpsolverlibs offers libraries that can be used as a replacement to
 commercial lp solvers. It has been designed to make coin-osi easier to build
 with support for these solvers, but can be useful in other context.
 .
 This package contains the lazygurobi part of lazylpsolverlibs -- binary tester

Package: liblazygurobi0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libraries that proxy function calls to commercial lp solvers
 lazylpsolverlibs offers libraries that can be used as a replacement to
 commercial lp solvers. It has been designed to make coin-osi easier to build
 with support for these solvers, but can be useful in other context.
 .
 This package contains the lazygurobi part of lazylpsolverlibs -- library only

Package: liblazygurobi0-dbg
Section: debug
Architecture: any
Depends: liblazygurobi0 (= ${binary:Version}), ${misc:Depends}
Description: libraries that proxy function calls to commercial lp solvers
 lazylpsolverlibs offers libraries that can be used as a replacement to
 commercial lp solvers. It has been designed to make coin-osi easier to build
 with support for these solvers, but can be useful in other context.
 .
 This package contains the lazygurobi part of lazylpsolverlibs -- debugging
 symbols for the library

Package: liblazyxprs-dev
Section: libdevel
Architecture: any
Depends: liblazyxprs0 (= ${binary:Version}), ${misc:Depends}
Description: libraries that proxy function calls to commercial lp solvers
 lazylpsolverlibs offers libraries that can be used as a replacement to
 commercial lp solvers. It has been designed to make coin-osi easier to build
 with support for these solvers, but can be useful in other context.
 .
 This package contains the lazyxprs part of lazylpsolverlibs -- library and
 headers

Package: liblazyxprs-bin
Section: libdevel
Architecture: any
Depends: liblazyxprs0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: libraries that proxy function calls to commercial lp solvers
 lazylpsolverlibs offers libraries that can be used as a replacement to
 commercial lp solvers. It has been designed to make coin-osi easier to build
 with support for these solvers, but can be useful in other context.
 .
 This package contains the lazyxprs part of lazylpsolverlibs -- binary tester

Package: liblazyxprs0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libraries that proxy function calls to commercial lp solvers
 lazylpsolverlibs offers libraries that can be used as a replacement to
 commercial lp solvers. It has been designed to make coin-osi easier to build
 with support for these solvers, but can be useful in other context.
 .
 This package contains the lazyxprs part of lazylpsolverlibs -- library only

Package: liblazyxprs0-dbg
Section: debug
Architecture: any
Depends: liblazyxprs0 (= ${binary:Version}), ${misc:Depends}
Description: libraries that proxy function calls to commercial lp solvers
 lazylpsolverlibs offers libraries that can be used as a replacement to
 commercial lp solvers. It has been designed to make coin-osi easier to build
 with support for these solvers, but can be useful in other context.
 .
 This package contains the lazyxprs part of lazylpsolverlibs -- debugging
 symbols for the library

Package: liblazyglpk-dev
Section: libdevel
Architecture: any
Depends: liblazyglpk0 (= ${binary:Version}), ${misc:Depends}
Description: libraries that proxy function calls to commercial lp solvers
 lazylpsolverlibs offers libraries that can be used as a replacement to
 commercial lp solvers. It has been designed to make coin-osi easier to build
 with support for these solvers, but can be useful in other context.
 .
 This package contains the lazyglpk part of lazylpsolverlibs -- library and
 headers

Package: liblazyglpk-bin
Section: libdevel
Architecture: any
Depends: liblazyglpk0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: libraries that proxy function calls to commercial lp solvers
 lazylpsolverlibs offers libraries that can be used as a replacement to
 commercial lp solvers. It has been designed to make coin-osi easier to build
 with support for these solvers, but can be useful in other context.
 .
 This package contains the lazyglpk part of lazylpsolverlibs -- binary tester

Package: liblazyglpk0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libraries that proxy function calls to commercial lp solvers
 lazylpsolverlibs offers libraries that can be used as a replacement to
 commercial lp solvers. It has been designed to make coin-osi easier to build
 with support for these solvers, but can be useful in other context.
 .
 This package contains the lazyglpk part of lazylpsolverlibs -- library only

Package: liblazyglpk0-dbg
Section: debug
Architecture: any
Depends: liblazyglpk0 (= ${binary:Version}), ${misc:Depends}
Description: libraries that proxy function calls to commercial lp solvers
 lazylpsolverlibs offers libraries that can be used as a replacement to
 commercial lp solvers. It has been designed to make coin-osi easier to build
 with support for these solvers, but can be useful in other context.
 .
 This package contains the lazyglpk part of lazylpsolverlibs -- debugging
 symbols for the library
